.container{
margin: 0;
}
.main{
    margin: auto;
  width: 50%;
 position: relative;
 top: 30px;

}
.title{
    font-size: 60px;
    text-align: center;
}

.description{
    text-align: center;
    position: relative;
    bottom:30px;
    font-weight:300;
}

.color1{
    border: none;
    padding:20px 40px;
    border-radius: 30px;
    background-color: #E93A7D;
    color:white;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #E93A7D;
    margin: 0px 10px;
}

.color1:hover{
    border: 1px solid #E93A7D;
    background-color: #fff;
    color: #E93A7D;
    transition: .4s;

}


.color2{
    border: none;
    padding:20px 40px;
    border-radius: 30px;
    background-color: #fff;
 color:#E93A7D;
    font-size: 15px;
    cursor: pointer;
    margin: 0px 10px;
    border: 1px solid #E93A7D;
}

.color2:hover{
    transition: 0.4s;
background-color: #E93A7D;
color: #fff;
}
.buttons{
    display: flex;
    justify-content: center;
}